* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url("./assets/fonts/Inter-Regular.ttf");
}

li,
a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
th,
td {
  color: black;
  font-family: inter;
}

input,
button {
  font-size: 1em;
}

button,
a {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

table,
tr,
td,
th {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

header {
  width: 100%;
}

.header__container,
.features,
.unique,
.question,
.footer__top,
.footer__copy,
.company-history,
.company-mission,
.experience,
.pricing,
.services,
.faq {
  width: 1300px;
  margin: auto;
  padding: 15px 10px;
}

.side-drawer {
  z-index: 999;
}

.side-drawer__btn {
  top: 10px;
  right: 10px;
}

.header__btn {
  display: none;
}

.hero {
  height: 450px;
}

.features__title {
  font-size: 1.5em;
}

.features__img--bg {
  background: -webkit-linear-gradient(rgb(178, 202, 255), rgb(255, 230, 230));
}

.features__sub_title {
  font-size: 1.25em;
}

.question--bg {
  background: #eee;
}

.question__link--bg {
  background: -webkit-linear-gradient(rgb(177, 194, 231), rgb(206, 206, 206));
}

.header__hero--bg {
  background: -webkit-linear-gradient(rgb(84, 152, 241), rgb(144, 109, 240));
}

.header__desc {
  width: 400px;
}

.company-history__img--width {
  width: 49%;
}

.company-mission__lists {
  margin-top: 20px;
  margin-left: 20px;
}

.company-mission__lists,
.company-mission__list {
  list-style-type: disc;
}

.contact-us--width {
  width: 1000px;
}

.contact-us__error-msg {
  font-size: 0.9em;
  display: none;
}

.contact-us__input--submit {
  background: -webkit-linear-gradient(rgb(84, 152, 241), rgb(144, 109, 240));
}

.contact-us__contact-info--bg {
  background: #eee;
}

.contact-us__icon--width {
  width: 15px;
}

.contact-us__info {
  font-size: 0.9em;
}

.pricing,
.services,
.faq {
  margin-top: 50px;
}

.experience__single--width {
  width: 32%;
}

.experience__btn--bg {
  background: -webkit-linear-gradient(rgb(127, 162, 238), rgb(119, 114, 185));
}

.experience__test-wrap--width {
  width: 850px;
}

.experience__test-single--width {
  width: 270px;
}

.experience__test-img {
  width: 180px;
  height: 180px;
}

.experience__test-single-mid {
  width: 300px;
}

.experience__test-img-mid {
  width: 250px;
  height: 250px;
}

.experience__test-comment {
  font-size: 0.9em;
}

.pricing__samples--bg {
  background: -webkit-linear-gradient(rgb(209, 223, 255), rgb(255, 241, 241));
}

.pricing__samples,
.pricing__right--width {
  width: 47%;
}

.pricing__btn {
  width: 50px;
  height: 50px;
}

.services__description,
.services__img {
  width: 48%;
}

.services__single-desc {
  margin-top: 15px;
}

.faq__btn:focus {
  box-shadow: 0 0 2px 1px rgb(171, 171, 241);
}

.faq__info--hidden {
  display: none;
}

.faq__info--bg {
  background: rgb(231, 238, 252);
}

.faq__form--width {
  width: 350px;
}

.faq__help-input--bg {
  background: #eee;
}

.faq__help-submit--bg {
  background: -webkit-linear-gradient(rgb(127, 162, 238), rgb(119, 114, 185));
}

.footer--bg {
  background: #ddd;
}

.footer__btm--bg {
  background: #ccc;
}

@media only screen and (max-width: 1366px) {
  .footer__copy,
  .footer__top,
  .question,
  .unique,
  .features,
  .company-history,
  .company-mission,
  .header__container,
  .experience,
  .pricing,
  .services,
  .faq {
    width: 98%;
  }

  .contact-us {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .unique__img {
    width: 500px;
  }
}

@media only screen and (max-width: 900px) {
  .header__nav {
    display: none;
  }

  .header__btn {
    display: block;
  }

  .footer__top {
    flex-direction: column;
    text-align: center;
  }

  .footer__top > div {
    margin-bottom: 30px;
  }

  .footer__form {
    justify-content: center;
  }

  .footer__links-subscribe {
    margin-bottom: 0;
  }

  .unique__single {
    flex-direction: column;
  }

  .unique__img {
    width: 100% !important;
  }

  .unique__single-top {
    margin-top: 100px;
    flex-direction: column-reverse !important;
  }

  .question {
    margin-top: 40px;
  }

  .experience__test-wrap {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .experience__test-single {
    margin-bottom: 50px;
  }

  .experience__test-single-mid {
    width: 270px;
  }

  .experience__test-img-mid {
    width: 180px;
    height: 180px;
  }

  .pricing__sounds,
  .services__single {
    flex-direction: column;
    text-align: center;
  }

  .services__header {
    text-align: center;
  }

  .services__single {
    margin-bottom: 20px;
  }
  .services__single-reverse {
    flex-direction: column-reverse;
  }

  .pricing__samples,
  .pricing__right {
    width: 400px;
  }

  .pricing__right {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .features__list {
    flex-direction: column;
  }

  .features__single-features {
    margin: auto;
    margin-bottom: 20px;
    width: 230px;
  }

  .features__img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-us__form-container {
    margin-bottom: 10px;
    width: 100%;
  }

  .contact-us__contact-info {
    margin-left: 0;
    width: 100%;
  }

  .experience__wrap {
    flex-direction: column;
  }

  .experience__single {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .unique div,
  .unique__uniques-list {
    text-align: center;
  }

  .company-history__images {
    flex-direction: column;
  }

  .company-history__img {
    width: 100%;
    margin-bottom: 10px;
  }

  .header__desc {
    width: unset;
  }
}

@media only screen and (max-width: 450px) {
  .footer__form {
    flex-direction: column;
  }

  .footer__input-submit {
    margin: 0 !important;
    margin-top: 10px !important;
  }

  .pricing__samples,
  .pricing__right {
    width: 98%;
  }
}

@media only screen and (max-width: 400px) {
  .footer__btm div {
    flex-direction: column;
  }

  .footer__btm div div {
    margin-top: 10px;
  }

  .contact-us {
    width: 100%;
  }

  .experience__test-single {
    width: 100%;
  }

  .experience__test-img {
    width: 130px;
    height: 130px;
  }

  .faq__form {
    width: 100%;
  }

  .faq__help-submit {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  p,
  a,
  button {
    font-size: 0.9em;
  }

  .header__img {
    width: 150px;
  }

  .features__list,
  .features__single-feature {
    width: 100%;
  }

  .features__img {
    width: 98% !important;
    height: 98% !important;
  }
}
